<html>
<head>
	<title>Delete | Page</title>
</head>
<body>
	<div align="right">
	<h1><a href="/logout">logout</a><h1>
	</div>
	<form method="post">
		<br/><br/><br/>
		<table align="center">
			<tr>
				<td>Are you sure?</td>
				<td></td>
			</tr>
			<tr>
				<td><input type="submit" value="Yes" name="yes"/></td>
				<td><input type="submit" value="No" name="no"/></td>
			</tr>
			
		</table>
	</form>
</body>
</html>