<!DOCTYPE html>
<html>
<div align="right">
    <h1><a href="/logout">logout</a><h1>
    </div>
<fieldset>This is message box</fieldset>
<br />
<fieldset>
    <legend><b>REGISTRATION</b></legend>
    <form method="post" name="registrationForm">
        <br/>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="130"></td>
                <td width="10"></td>
                <td width="230"></td>
                <td></td>
            </tr>

            

            <tr><td colspan="4"><hr/></td></tr>

            <tr>
                <td>Employer Name</td>
                <td>:</td>
                <td>
                    <input name="EName" type="text">
                     </td>
                <td></td>
            </tr>	

            <tr><td colspan="4"><hr/></td></tr>

            <tr>
                <td>Company Name</td>
                <td>:</td>
                <td><input name="Cname" type="text"></td>
                <td></td>
            </tr>		
           		
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Contact Number</td>
                <td>:</td>
                <td><input name="cnum" type="text"></td>
                <td></td>
            </tr>

            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>User Name</td>
                <td>:</td>
                <td><input name="uname" type="text"></td>
                <td></td>
            </tr>	

            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input name="pass" type="Password"></td>
                <td></td>
            </tr>
            
           </table>
        <hr/>
        <input type="submit" name="sign_up" value="Sign up">
		 <a href="/login">Sign In</a>
    </form>
</fieldset>
</html>