<!DOCTYPE html>
<html>
<fieldset>This is message box</fieldset>
<br />
<fieldset>
    <legend><b>LOGIN</b></legend>
    <form method="post">
        <br/>
        <table>
            <tr>
                <td>User Id</td>
                <td>:</td>
                <td><input type="text" name="user_id"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <hr />
        
        <input type="submit" name="Login" value="Login">
        <a href="/login/registration">Register</a>
    </form>
</fieldset>
</html>